* {
  font-family: "Inter";
  font-size: 16.88px;
  box-sizing: border-box;
}

.rc {
  font-family: "Roboto Condensed";
  font-size: 27px;
  color: black;
}

body {
  margin: 0;
}

button {
  background-color: black;
  border: unset;
  color: white;
  height: 40px;
  padding: 0px 25px;
  border-radius: 100px;
  font-size: 15.25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  gap: 5px;
  box-sizing: border-box;
}

.cbr{
  transition: all 200ms ease-in-out;
}

button:hover .cbr {
  transform: translateX(10px);
}

.w-screen {
  width: 100vw;
}

.h-screen {
  height: 100vh;
}

.defPad {
  padding: 0 60px;
}

.horiFlex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.vertFlex {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.logobg{
  background-image: url(./images/borderlogo.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
