* {
  font-family: "Inter";
  font-size: 16.88px;
  box-sizing: border-box;
}

.rc {
  font-family: "Roboto Condensed";
  font-size: 27px;
  color: black;
}

body {
  margin: 0;
}

button {
  background-color: black;
  border: unset;
  color: white;
  height: 40px;
  padding: 0px 25px;
  border-radius: 100px;
  font-size: 15.25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  gap: 5px;
  box-sizing: border-box;
}

.cbr {
  transition: all 200ms ease-in-out;
}

button:hover .cbr {
  transform: translateX(10px);
}

.w-screen {
  width: 100vw;
}

.h-screen {
  height: 100vh;
}

.defPad {
  padding: 0 60px;
}

.horiFlex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.vertFlex {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.logobg {
  background-image: url(./images/borderlogo.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.t1 {
  font-size: 67.92px;
  text-align: center;
}

.t2 {
  width: 60%;
  padding-bottom: 80px;
  text-align: center;
}

.bh {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 80px;
}

.bs {
  flex: 1;
}

.t2h {
  height: 60vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.wt {
  font-size: 44.81px;
}

.lb {
  height: 300px;
}

.f1 {
  font-size: 37.92px;
}

@media (max-width: 920px) {
  .t1 {
    font-size: 27.92px;
    text-align: start;
  }
  .t2 {
    width: 100%;
    padding-bottom: 20px;
    text-align: start;
  }
  .bh {
    flex-direction: column;
    margin-top: "0px";
  }
  .bs {
    flex: unset;
    width: 100%;
  }
  .t2h {
    height: auto;
    flex-direction: column;
    justify-content: flex-start;
  }
  .wt {
    font-size: 34.81px;
    text-align: start;
    width: 100%;
    padding-left: 40px;
  }
  .lb {
    height: 200px;
  }
  .foologo {
    display: none;
  }
  .f1 {
    font-size: 27.92px;
  }
}
